{% extends 'base.html' %}


{% block content %}

	<!--Reset Password-->
	<div class="container p-5">
        <h5> {% if messages %}
										<ul class="messages">
											{% for message in messages %}
											{% if message.tags %}
											<div style="padding:3px;" class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
												{% endif %}
												<button style="outline: none; border:none; ;  margin-left:49px; padding:0px;" type="button" class="btn btn-default btn-sm" data-dismiss="alert" aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<li style="padding-right:0px; font-size:15px; float:left;" class="info">{{ message }}</li>
											</div>
											{% endfor %}
										</ul>
										{% endif %}
									</h5>
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form }}
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div>

{% endblock %}