{% extends 'base.html'%}
{%load static %}
{%block content %}
<style>
	#form label{
		display: none;
	}
</style>

		<section class="messages-page mt-5">
			<div class="container">
				<div class="messages-sec">
					<div class="row">
						<div class="col-lg-8 col-md-12 pd-right-none pd-left-none">
							<div class="main-conversation-box">
								<div class="message-bar-head">
									<div class="usr-msg-details">
										<div class="usr-ms-img">
											{% if request.user == thread.second %}
											<img src="{{ thread.first.profile_pc.url }}" alt="">
											{% else %}
											<img src="{{ thread.second.profile_pc.url }}" alt="">
											{% endif %}
										</div>
										<div class="usr-mg-info">
										{% if request.user == thread.second %}
										<h3>{{thread.first}}</h3>
										{% else %}
										<h3>{{thread.second}}</h3>
										{% endif %}
											<p>Online</p>
										</div><!--usr-mg-info end-->
									</div>
									<a href="#" title=""><i class="fa fa-ellipsis-v"></i></a>
								</div><!--message-bar-head end-->
								<div class="messages-line">
									<div style="margin-top: 100px;">

									</div>
									
									<ul id='chat-items'>
										{% for chat in object.chatmessage_set.all %}
											{% if chat.user.username ==  request.user.username %}
											<li class="mimi" style="float: right;background-color: green; margin-left: 300px; margin-right: 0px;" >{{ chat.message }}</li>
											{% else %}
											<li style="float: left;" >{{ chat.message }}</li>
											{% endif %}
										{% endfor %}
										</ul>

									<!-- <ul id="chat-items">
										{% for chat in object.chatmessage_set.all %}
										<li>{{ chat.message }}</li>
										{% endfor %}
									</ul> -->

								
									
								
								</div><!--messages-line end-->
								<div class="message-send-area">
									<form id='form' method='POST'>
										{% csrf_token %}
										<div class="mf-field">
											<input type="hidden" id="myUsername" value="{{user.username}}">
											{{form.as_p }}
											<button type="submit">Send</button>
										</div>
										<ul>
											<li><a href="#" title=""><i class="fa fa-smile-o"></i></a></li>
											<li><a href="#" title=""><i class="fa fa-camera"></i></a></li>
											<li><a href="#" title=""><i class="fa fa-paperclip"></i></a></li>
										</ul>
									</form>
									<!-- <form id='form' method='POST'> {% csrf_token %}
										<input type="hidden" id="myUsername" value="{{user.username}}">
									{{form.as_p }}
									<input type='submit' class='btn btn-primary'/>
									</form> -->
								</div><!--message-send-area end-->
							</div><!--main-conversation-box end-->
						</div>
					</div>
				</div><!--messages-sec end-->
			</div>
		</section><!--messages-page end-->
<script type="text/javascript" src="{% static 'js/jquery.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
<script>
// websocket scripts
//console.log(window.location)
var loc = window.location
var formData = $("#form")
var msgInput = $("#id_message")
var chatHolder = $('#chat-items')
var me = $("#myUsername").val()

var wsStart = 'ws://' 
if (loc.protocol == 'https:'){
	wsStart = 'wss://'
}
var endpoint = wsStart + loc.host + loc.pathname
var socket = new ReconnectingWebSocket(endpoint)

socket.onmessage = function(e){
	console.log("message", e)
	var chatDataMsg = JSON.parse(e.data)
	if(chatDataMsg.username == me)
	chatHolder.append("<li style='float:right; margin-left:400px; margin-right:0px; background-color:green;'>" + chatDataMsg.message + "</li>")
	 else{
		chatHolder.append("<li style='float:left; margin-left:20px; margin-right:330px; background-color:grey;'>" + chatDataMsg.message + "</li>")
	 }
}
socket.onopen = function(e){
	console.log("open", e)
	formData.submit(function(event){
		event.preventDefault()
		var msgText = msgInput.val()
		//chatHolder.append("<li>" + msgText + " via " + me + "<li>")
		var finalData = {
			'message':msgText
		}
		socket.send(JSON.stringify(finalData))
		formData[0].reset()
	})
}
socket.onerror= function(e){
	console.log("error", e)
}
socket.onclose= function(e){
	console.log("close", e)
}

</script>

{%endblock content %}

